<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2011, Thilo Planz. All rights reserved.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Vaadin Web Application</display-name>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <filter>
    	<filter-name>authcheck</filter-name>
    	<filter-class>v7cr.AuthFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <description>Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>v7cr.V7CR</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/v/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
   	<filter-mapping>
   		<filter-name>authcheck</filter-name>
   		<servlet-name>Vaadin Application Servlet</servlet-name>
   	</filter-mapping>
    <servlet>
        <servlet-name>OpenID Servlet</servlet-name>
        <servlet-class>v7cr.OpenIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenID Servlet</servlet-name>
        <url-pattern>/openid</url-pattern>
    </servlet-mapping>
    <listener>
    	<listener-class>v7cr.InitDB</listener-class>
    </listener>
    
</web-app>